@font-face {
  font-family: "iconfont"; /* Project id 3565298 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_3565298_wc7cs7nou68.woff2?t=1659516785976') format('woff2'),
       url('//at.alicdn.com/t/c/font_3565298_wc7cs7nou68.woff?t=1659516785976') format('woff'),
       url('//at.alicdn.com/t/c/font_3565298_wc7cs7nou68.ttf?t=1659516785976') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuye:before {
  content: "\e602";
}

.icon-xinxi:before {
  content: "\e603";
}

.icon-youjian:before {
  content: "\e604";
}

.icon-sousuo:before {
  content: "\e605";
}

.icon-yonghu:before {
  content: "\e606";
}

.icon-bianji:before {
  content: "\e608";
}

.icon-tingzhi:before {
  content: "\e609";
}

.icon-naozhong:before {
  content: "\e60a";
}

.icon-xihuan:before {
  content: "\e60b";
}

.icon-jishiben:before {
  content: "\e60c";
}

.icon-rili:before {
  content: "\e60d";
}

.icon-gengduo:before {
  content: "\e60e";
}

.icon-liebiaocaidan:before {
  content: "\e60f";
}

.icon-shoucang:before {
  content: "\e610";
}

.icon-wenjianjia:before {
  content: "\e611";
}

.icon-tianjia:before {
  content: "\e612";
}

.icon-yulan:before {
  content: "\e613";
}

.icon-xingbiao:before {
  content: "\e614";
}

.icon-shangdian:before {
  content: "\e615";
}

.icon-tixing:before {
  content: "\e616";
}

.icon-lishi:before {
  content: "\e617";
}

.icon-piaowuxinxi:before {
  content: "\e618";
}

.icon-shanchu:before {
  content: "\e619";
}

.icon-tupian:before {
  content: "\e61a";
}

.icon-suo:before {
  content: "\e61b";
}

.icon-caidan:before {
  content: "\e61c";
}

.icon-shuqian:before {
  content: "\e61d";
}

.icon-weizhi:before {
  content: "\e61e";
}

.icon-shezhi:before {
  content: "\e61f";
}

.icon-fenxiang:before {
  content: "\e620";
}

