@font-face {
  font-family: 'tzy';
/* 字体名自定义即可 */
  src: url("https://pic-go-img.oss-cn-hangzhou.aliyuncs.com/ZhuZiAWan.woff2");
/* 字体文件路径 */
  font-display: swap;
}
body,
.gitcalendar {
  font-family: tzy !important;
}
.categoryBar-list {
  max-height: 400px;
}
.clock-row {
  overflow: hidden;
  text-overflow: ellipsis;
}
/*3s为加载动画的时间，1为加载动画的次数，ease-in-out为动画效果*/
#page-header,
#web_bg {
  -webkit-animation: imgblur 2s 1 ease-in-out;
  animation: imgblur 2s 1 ease-in-out;
}
/*适配使用-webkit内核的浏览器 */
@-webkit-keyframes imgblur {
  0% {
    -webkit-filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}
.table-wrap img {
  margin: 0.6rem auto 0.1rem !important;
}
/* 标签外挂 网站卡片 start */
.site-card-group img {
  margin: 0 auto 0.1rem !important;
}
.site-card-group .info a img {
  margin-right: 10px !important;
}
[data-theme='dark'] .site-card-group .site-card .info .title {
  color: #f0f0f0 !important;
}
[data-theme='dark'] .site-card-group .site-card .info .desc {
  color: rgba(255,255,255,0.7) !important;
}
.site-card-group .info .desc {
  margin-top: 4px !important;
}
/* 代码块颜色 */
figure.highlight pre .addition {
  color: #00bf03 !important;
}
body {
  cursor: url("https://pic-go-img-ubuntu.oss-cn-hangzhou.aliyuncs.com/normal.png"), auto;
}
.hide-block>.hide-button.open,
.hide-inline>.hide-button.open {
  display: block;
}
a,
button,
img {
  cursor: url("https://pic-go-img-ubuntu.oss-cn-hangzhou.aliyuncs.com/link.png"), auto;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 2em;
/* background-color: rgba(73, 177, 245, .2); */
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.1) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) 75%, transparent 75%, transparent);
  border-radius: 2em;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
#article-container h1:before,
#article-container h2:before,
#article-container h3:before,
#article-container h4:before,
#article-container h5:before,
#article-container h6:before,
#post .post-outdate-notice:before,
.fontawesomeIcon,
.note:not(.no-icon)::before,
hr:before {
  display: inline-block;
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  font-family: 'Font Awesome 5 Free';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
#article-container h1:before,
#article-container h2:before,
#article-container h3:before,
#article-container h4:before,
#article-container h5:before,
#article-container h6:before {
  position: absolute;
  color: #f47466;
/* 回形针 */
  content: '\f0c1';
  line-height: 1;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
/* 若要使用风车效果，请去掉下面的注释 */
  content: '\f863';
  animation: avatar_turn_around 1s linear infinite;
}
#article-container h1 {
  padding-left: 1.4rem;
}
#article-container h1 code {
  font-size: 1rem;
}
#article-container h1:before {
  margin-left: -1.3rem;
  top: calc(50% - 0.5rem);
  font-size: 1rem;
}
#article-container h1:hover {
  padding-left: 1.6rem;
}
#article-container h2 {
  padding-left: 1.3rem;
}
#article-container h2 code {
  font-size: 0.9rem;
}
#article-container h2:before {
  margin-left: -1.4rem;
  top: calc(50% - 0.45rem);
  font-size: 0.9rem;
}
#article-container h2:hover {
  padding-left: 1.5rem;
}
#article-container h3 {
  padding-left: 1.2rem;
}
#article-container h3 code {
  font-size: 0.8rem;
  top: calc(50% - 0.4rem);
}
#article-container h3:before {
  margin-left: -1.2rem;
  top: calc(50% - 0.4rem);
  font-size: 0.8rem;
}
#article-container h3:hover {
  padding-left: 1.4rem;
}
#article-container h4 {
  padding-left: 1.1rem;
}
#article-container h4 code {
  font-size: 0.7rem;
}
#article-container h4:before {
  margin-left: -1rem;
  top: calc(50% - 0.35rem);
  font-size: 0.7rem;
}
#article-container h4:hover {
  padding-left: 1.3rem;
}
#article-container h5 {
  padding-left: 1rem;
}
#article-container h5 code {
  font-size: 0.6rem;
}
#article-container h5:before {
  margin-left: -0.8rem;
  top: calc(50% - 0.3rem);
  font-size: 0.6rem;
}
#article-container h5:hover {
  padding-left: 1.2rem;
}
#article-container h6 {
  padding-left: 1rem;
}
#article-container h6 code {
  font-size: 0.6rem;
}
#article-container h6:before {
  margin-left: -0.8rem;
  top: calc(50% - 0.3rem);
  font-size: 0.6rem;
}
#article-container h6:hover {
  padding-left: 1.2rem;
}
@-moz-keyframes imgblur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}
@-webkit-keyframes imgblur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}
@-o-keyframes imgblur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}
@keyframes imgblur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}
